<updates>
  {% for post in site.data[{{page.element}}] %}
  <update>
    <name>{{page.title}}</name>
    <description>{{page.description}}</description>
    <element>{{page.element}}</element>
    <type>{{page.type}}</type>
    {% if page.folder %}<folder>{{page.folder}}</folder>{% endif %}
    {% if page.client %}<client>{{page.client}}</client>{% endif %}
    <version>{{post.version}}</version>
    <infourl title="{{page.title}}">{{page.infourl}}</infourl>
    <downloads>
      <downloadurl type="full" format="zip">{{post.download}}</downloadurl>
    </downloads>
    <tags>
      <tag>stable</tag>
    </tags>
    <maintainer>{{page.maintainer}}</maintainer>
    <maintainerurl>{{page.maintainerurl}}</maintainerurl>
    <targetplatform name="joomla" version="{{post.platform}}"/>
  </update>
  {% endfor %}
</updates>
